<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#">

<head>
    <script type="63778b8c78d19ad13ebfd48e-">
    if (window.location.host.split('.')[0] !== 'dev') {
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-NL54RMW');
    }
  </script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>We are the Team</title>
    <meta name="description" content="You can hire 5 freelancers but they aren’t a team at the end. 
          We are. That just saves you a lot of time and money.">
    <meta name="author" content="Heartbeat agency">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-title" content="Heartbeat">
    <meta property="og:title" content="We are the Team" />
    <meta property="og:description" content="You can hire 5 freelancers but they aren’t a team at the end. 
          We are. That just saves you a lot of time and money." />
    <meta property="og:url" content="https://heartbeat.ua/team" />
    <meta property="og:image" content="/site.png" />
    <meta property="og:site_name" content="Heartbeat agency">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="We are the Team">
    <meta name="twitter:url" content="https://heartbeat.ua/team">
    <meta name="twitter:description" content="You can hire 5 freelancers but they aren’t a team at the end. 
          We are. That just saves you a lot of time and money.">
    <meta name="twitter:image" content="/site.png">
    <link rel="icon" type="image/png" href="/32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/16x16.png" sizes="16x16">
    <link rel="apple-touch-icon" href="/180x180.png" sizes="180x180">
    <link rel="stylesheet" href="/css/app.73a9fc6c.css">
</head>

<body style="overflow: hidden;">
    <div id="loader" class="loader is-filled-up disable-select" style="background: #fff;">
        <svg id="loader-bg" class="loader-bg" viewBox="0 0 820 1078" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice">
            <path id="loader-bg-path" transform="scale(0)" d="M635.498 0c-171.062 0-336.86
    170.013-414.112 244.508C140.336 322.668.48 361.695.48 550.723c0 237.322 163.682
    598.787 348.781 514.902 126.72-57.429 183.931-99.993 253.844-275.484 54.084-135.757
     210.296-193.167 210.296-420.15C813.4 132.672 872.747 0 635.498 0z" fill-rule="nonzero" fill="#191919" />
        </svg>
        <div class="loader-logo is-filled-up">
            <div id="loader-logo-img" class="loader-logo-img" style=""></div>
        </div>
    </div>
    <div class="wrapper">
        <div id="app">
            <div id="heart-wrap">
                <svg id="heart" viewBox="0 0 1920 3000" xmlns="http://www.w3.org/2000/svg">
                    <path transform="translate(-391.661,1890.007)rotate(-106)scale(1.2)" id="heart-path-3" d="M929.557 11C666.76 11 412.049 272.269 293.37 386.75 168.855 506.864-46 566.84-46 857.333c0 364.706 251.46 920.194 535.82 791.281 194.676-88.254 282.567-153.665 389.972-423.354 83.087-208.625 323.07-296.851 323.07-645.67C1202.862 214.883 1294.034 11 929.557 11z"
                        fill="rgb(255,255,255)" stroke="#dcdcdc"></path>
                    <path transform="translate(-369.986,1734.425)rotate(-106)scale(1.2)" id="heart-path-2" d="M819.183 84C603.326 84 394.11 298.645 296.628 392.697 194.353 491.375 17.873 540.649 17.873 779.3c0 299.624 206.546 755.983 440.117 650.075 159.903-72.505 232.096-126.243 320.318-347.805 68.246-171.396 265.365-243.877 265.365-530.448C1043.673 251.499 1118.56 84 819.183 84z"
                        fill="rgb(255,255,255)" stroke="#dcdcdc"></path>
                    <path transform="translate(-359.59,1586.12)rotate(-106)scale(1.2)" id="heart-path-1" d="M709.498 158c-171.062 0-336.86 170.013-414.112 244.508-81.05 78.16-220.906 117.187-220.906 306.215 0 237.322 163.682 598.787 348.781 514.902 126.72-57.429 183.931-99.993 253.844-275.484 54.084-135.757 210.296-193.167 210.296-420.15C887.4 290.672 946.747 158 709.498 158z"
                        fill="rgb(98,230,172)"></path>
                </svg>
            </div>
            <header class="app-header">
                <div class="app-header-logo">
                    <a href="/" class="">
                        <img src="/img/logo.60e99242.svg" alt="">
                    </a>
                </div>
                <div class="app-header-spacer"></div>
                <nav class="app-menu">
                    <a href="/projects" class="item">projects</a>
                    <a href="/customer-story" class="item">customer story</a>
                    <a href="/team" class="item router-link-exact-active is-active">meet our team</a>
                    <a href="/process" class="item">process</a>
                    <a href="/lets-talk" class="item is-highlighted">let's talk</a>
                </nav>
                <div class="app-menu-mobile-btn">menu</div>
                <div class="app-menu-mobile is-hidden">
                    <div class="app-menu-mobile-close">close</div>
                    <div class="app-menu-mobile-inner">
                        <ul>
                            <li>
                                <a href="/projects" class="item">projects</a>
                            </li>
                            <li>
                                <a href="/customer-story" class="item">customer story</a>
                            </li>
                            <li>
                                <a href="/team" class="item router-link-exact-active is-active">meet our team</a>
                            </li>
                            <li>
                                <a href="/career" class="item">career</a>
                            </li>
                            <li>
                                <a href="/process" class="item">process</a>
                            </li>
                            <li>
                                <a href="/lets-talk" class="item">lets talk</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </header>
            <div data-v-240c62e2="" role="main" class="app-container f-box hide-overflow">
                <div data-v-240c62e2="" class="f-box">
                    <div data-v-240c62e2="" class="f-box-wide">
                        <div data-v-240c62e2="" class="row">
                            <div data-v-240c62e2="" class="tile-xs-12 h1">
                                <h1 data-v-240c62e2="">Because we care</h1>
                            </div>
                        </div>
                        <div data-v-240c62e2="" class="row">
                            <div data-v-240c62e2="" class="tile-xs-12">
                                <div data-v-240c62e2="" class="text">
                                    <h3 data-v-240c62e2="">We value your time</h3>
                                    <p data-v-240c62e2="" class="text-big">Imagine for a moment, not having to spend hours chatting with designers. No pointless
                                        revisions, no talks about color and font-size. Instead, you get spot-on results on
                                        the first try. Nothing to complain about. Days or even weeks saved. Now you can spend
                                        that time working your business.</p>
                                </div>
                            </div>
                        </div>
                        <div data-v-240c62e2="" class="row row-2">
                            <div data-v-240c62e2="" class="tile-xs-12">
                                <div data-v-240c62e2="" class="text">
                                    <h3 data-v-240c62e2="">When that hotline blings</h3>
                                    <p data-v-240c62e2="" class="text-big">Prompt and responsive team of nine professionals. That doesn't mean we're sitting at
                                        our desks all weekend. It means we define common visions, set up your business goals
                                        and deadlines, and achieve them. Because we know what we're doing.</p>
                                </div>
                            </div>
                        </div>
                        <div data-v-240c62e2="" class="row people">
                            <div data-v-240c62e2="" class="tile tile-xs-12 tile-sm-6">
                                <div data-v-240c62e2="" class="box">
                                    <img data-v-240c62e2="" src="/img/dmitry.321ed217.jpg" alt="Dmitry Lepyokhin">
                                    <div data-v-240c62e2="" class="box-info s-1">
                                        <div data-v-240c62e2="" class="text-1">
                                            <p data-v-240c62e2="">Most likely the first person you'll meet, working with us. Big fan of Japan,
                                                Ayrton Senna and walking. Was once detained on a ship sailing from Spain
                                                to Africa without a visa. Entrepreneurial Operating System practicioner.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div data-v-240c62e2="" class="tile tile-xs-12 tile-sm-6 p-5">
                                <div data-v-240c62e2="" class="box">
                                    <img data-v-240c62e2="" src="/img/stan.ad38174c.jpg" alt="Stan Yakusevich">
                                    <div data-v-240c62e2="" class="box-info s-2">
                                        <div data-v-240c62e2="" class="text-1">
                                            <p data-v-240c62e2="">Loves pizza, pasta, beer and J. R. R. Tolkien fantasy novels. Proud beard owner
                                                and the mastermind behind our visual content. Awwwards Jury member.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div data-v-240c62e2="" class="tile tile-xs-12 tile-sm-6">
                                <div data-v-240c62e2="" class="box">
                                    <img data-v-240c62e2="" src="/img/leo.aaf7d86c.jpg" alt="Leonid Stern">
                                    <div data-v-240c62e2="" class="box-info s-1">
                                        <div data-v-240c62e2="" class="text-1">
                                            <p data-v-240c62e2="">Dashing terrorizer of deadlines, plugins and back-end developers. Leonid owned
                                                a sushi delivery business but preferred the messed-up world of technologies.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div data-v-240c62e2="" class="tile-xs-12 tile-empty"></div>
                            <div data-v-240c62e2="" class="tile tile-xs-12 tile-sm-6 tile-md-4">
                                <div data-v-240c62e2="" class="box">
                                    <img data-v-240c62e2="" src="/img/eug.3f18d9b8.jpg" alt="Evgeniy Yakusevich">
                                    <div data-v-240c62e2="" class="box-info s-1">
                                        <div data-v-240c62e2="" class="text-1">
                                            <p data-v-240c62e2="">Eugene built the current website between hours in the gym in the mornings, and
                                                evenings enjoying a few drinks. The way it all worked out is amazing.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div data-v-240c62e2="" class="tile tile-xs-12 tile-sm-6 tile-md-4 p-2">
                                <div data-v-240c62e2="" class="box">
                                    <img data-v-240c62e2="" src="/img/helen.d502c291.jpg" alt="Elena Yakusevich">
                                    <div data-v-240c62e2="" class="box-info s-3">
                                        <div data-v-240c62e2="" class="text-1">
                                            <p data-v-240c62e2="">Thanks to her, clients think we have perfect recall. We are all apt to forget
                                                things. Elena forgets nothing.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div data-v-240c62e2="" class="tile tile-xs-12 tile-sm-6 tile-md-4 p-3">
                                <div data-v-240c62e2="" class="box">
                                    <img data-v-240c62e2="" src="/img/gruev.80bf25d9.jpg" alt="Vladimir Gruev">
                                    <div data-v-240c62e2="" class="box-info s-4">
                                        <div data-v-240c62e2="" class="text-1">
                                            <p data-v-240c62e2="">You've likely seen Vladmir's User Interface work on blogs, feature articles and
                                                Pinterest. Right now he's probably eating some chinese food while checking
                                                his Dribbble account.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div data-v-240c62e2="" class="tile tile-xs-12 tile-sm-6 tile-md-4 p-6">
                                <div data-v-240c62e2="" class="box">
                                    <img data-v-240c62e2="" src="/img/dmitry-2.bbd22b9d.jpg" alt="Dmytro Goreniuk">
                                    <div data-v-240c62e2="" class="box-info s-3">
                                        <div data-v-240c62e2="" class="text-1">
                                            <p data-v-240c62e2="">At this photo, Dima just finished eating his favorite turkey and prunes pie and
                                                it gives him pleasure. He brings unique HORT and Bauhaus inspired touch to
                                                our graphic design works.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div data-v-240c62e2="" class="tile tile-xs-12 tile-sm-6 tile-md-4 p-1">
                                <div data-v-240c62e2="" class="box">
                                    <img data-v-240c62e2="" src="/img/roma.e2c03523.jpg" alt="Roman Li">
                                    <div data-v-240c62e2="" class="box-info s-3">
                                        <div data-v-240c62e2="" class="text-1">
                                            <p data-v-240c62e2="">Roma once hitchhiked across Southeast Asia with only $15 in his pocket. Loves
                                                steak and hates coffee.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div data-v-240c62e2="" class="tile tile-xs-12 tile-sm-6 tile-md-4 p-4">
                                <div data-v-240c62e2="" class="box">
                                    <img data-v-240c62e2="" src="/img/artur.df33892a.jpg" alt="Artur Petrusanco">
                                    <div data-v-240c62e2="" class="box-info s-2">
                                        <div data-v-240c62e2="" class="text-1">
                                            <p data-v-240c62e2="">The undefeated Wordpress Heavyweight Champ. And yes, before we forget – Hola
                                                Madrid!</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div data-v-240c62e2="" class="tile tile-xs-12 tile-sm-6 tile-md-4 p-7">
                                <a data-v-240c62e2="" href="https://www.instagram.com/heartbeat.ua/" target="_blank" rel="noopener noreferrer nofollow"
                                    class="insta-box">
                                    <header data-v-240c62e2="">
                                        <div data-v-240c62e2="" class="insta-box__user-logo">
                                            <img data-v-240c62e2="" src="https://scontent.cdninstagram.com/vp/0666f7462d78da89682bb28bb0ed8811/5BB3C051/t51.2885-19/s150x150/16124086_205753896565019_2350465142438756352_a.jpg"
                                                alt="">
                                        </div>
                                        <div data-v-240c62e2="" class="insta-box__user">heartbeat.ua</div>
                                        <div data-v-240c62e2="" class="insta-box__follow">Follow</div>
                                    </header>
                                    <div data-v-240c62e2="" class="insta-box__img">
                                        <img data-v-240c62e2="" src="https://scontent.cdninstagram.com/vp/2a9bd5e2ca59f3d4347fecf924c81c18/5BBA4425/t51.2885-15/sh0.08/e35/p640x640/31488856_174924866546399_1724687320784830464_n.jpg"
                                            alt="">
                                    </div>
                                    <footer data-v-240c62e2="">
                                        <div data-v-240c62e2="" class="insta-box__likes">
                                            <div data-v-240c62e2="" class="insta-box__heart"></div>
                                            <div data-v-240c62e2="" class="insta-box__likes-text">
                                                23 likes
                                            </div>
                                            <div data-v-240c62e2="" class="insta-box__comm"></div>
                                            <div data-v-240c62e2="" class="insta-box__likes-text">1 comments</div>
                                        </div>
                                        <div data-v-240c62e2="" class="insta-box__text">Creative deconstruction in our kitchen. Work in progress.</div>
                                        <div data-v-240c62e2=""
                                            class="insta-box__date">May 17</div>
                                        <div data-v-240c62e2="" class="insta-box__logo"></div>
                                    </footer>
                                </a>
                                <div data-v-240c62e2="" class="insta-box__tip">
                                    <img data-v-240c62e2="" src="/img/curve.d9cdb1f0.svg" alt="" class="insta-box__tip-img">
                                    <div data-v-240c62e2="">What’s going on in Heartbeat</div>
                                </div>
                            </div>
                        </div>
                        <div data-v-240c62e2="" class="row">
                            <div data-v-240c62e2="" class="tile-xs-12">
                                <div data-v-240c62e2="" class="line-2"></div>
                            </div>
                        </div>
                        <div data-v-240c62e2="" class="row features">
                            <div data-v-240c62e2="" class="tile-xs-12 tile-sm-6 features-f">
                                <div data-v-240c62e2="" class="features-i">
                                    <div data-v-240c62e2="" class="img text-center">
                                        <div data-v-240c62e2="" class="circles">
                                            <div data-v-240c62e2="" class="circles__1">Strategy</div>
                                            <div data-v-240c62e2="" class="circles__2">
                                                <span data-v-240c62e2="" class="circles__bg">Visuals</span>
                                            </div>
                                            <div data-v-240c62e2="" class="circles__3">
                                                <span data-v-240c62e2="" class="circles__bg">Front-end</span>
                                            </div>
                                            <div data-v-240c62e2="" class="circles__4">
                                                <div data-v-240c62e2="" class="circles__4-text circles__bg">Code</div>
                                            </div>
                                            <div data-v-240c62e2="" class="circles__5">Better
                                                <br data-v-240c62e2="">product</div>
                                        </div>
                                    </div>
                                    <p data-v-240c62e2="" class="text-big">
                                        We know the feeling: you've sent the design to developers and they say it'll take months to code. Yeah, some visual guys
                                        don't know about development, and you can't blame them...
                                        <br data-v-240c62e2=""> But you can hire a full-stack team of designers and developers who'll take care
                                        of everything at once. Trust us, you're in good hands.
                                    </p>
                                </div>
                            </div>
                            <div data-v-240c62e2="" class="tile-xs-12 tile-sm-6">
                                <div data-v-240c62e2="" class="features-i fr">
                                    <div data-v-240c62e2="" class="img text-center">
                                        <img data-v-240c62e2="" src="/img/skills.18f96249.svg" alt="">
                                    </div>
                                    <p data-v-240c62e2="" class="text-big">
                                        Over the last two years, we've invested 30% of our time into
                                        <a data-v-240c62e2="" href="http://teampaper.me/" target="_blank" rel="noopener noreferrer" class="underline">our own startup</a>. As a result, we know how to avoid the usual pitfalls before
                                        they happen. You'll spend less time and money on development, launch your product
                                        sooner, and start seeing results immediately.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div data-v-240c62e2="" class="row">
                            <div data-v-240c62e2="" class="tile-xs-12">
                                <div data-v-240c62e2="" class="line-3"></div>
                            </div>
                        </div>
                        <div data-v-240c62e2="" class="row our-awards">
                            <div data-v-240c62e2="" class="tile-xs-12 tile-sm-6 tile-md-4 tile-lg-3">
                                <div data-v-240c62e2="" data-mh1="group" class="d-flex ai-center our-awards__img" style="min-height: 66px;">
                                    <div data-v-240c62e2="">
                                        <img data-v-240c62e2="" src="/img/css-design-awards-wotd.dfc7841a.svg" alt="css-design-awards-wotd">
                                    </div>
                                </div>
                                <p data-v-240c62e2="">The guys from CSSDA decided to award us Site of the Day.</p>
                            </div>
                            <div data-v-240c62e2="" class="tile-xs-12 tile-sm-6 tile-md-4 tile-lg-3">
                                <div data-v-240c62e2="" data-mh1="group" class="d-flex ai-center our-awards__img" style="min-height: 66px;">
                                    <div data-v-240c62e2="">
                                        <img data-v-240c62e2="" src="/img/woty-kudos.aeb586ae.svg" alt="">
                                    </div>
                                </div>
                                <p data-v-240c62e2="">Then they gave us Website of the Year Special Kudos.</p>
                            </div>
                            <div data-v-240c62e2="" class="tile-xs-12 tile-sm-6 tile-md-4 tile-lg-3">
                                <div data-v-240c62e2="" data-mh1="group" class="d-flex ai-center our-awards__img" style="min-height: 118px;">
                                    <div data-v-240c62e2="">
                                        <img data-v-240c62e2="" src="/img/awwwards-sotd.02ab2276.svg" alt="">
                                    </div>
                                </div>
                                <p data-v-240c62e2="">After that, the Awwwards Jury named us Site of the Day.</p>
                            </div>
                            <div data-v-240c62e2="" class="tile-xs-12 tile-sm-6 tile-md-4 tile-lg-3">
                                <div data-v-240c62e2="" data-mh1="group" class="d-flex ai-center our-awards__img" style="min-height: 118px;">
                                    <div data-v-240c62e2="">
                                        <img data-v-240c62e2="" src="/img/awwwards-mobile.852dfd62.svg" alt="">
                                    </div>
                                </div>
                                <p data-v-240c62e2="">The Google team think our mobile experience is great.</p>
                            </div>
                            <div data-v-240c62e2="" class="tile-xs-12 tile-sm-6 tile-md-4 tile-lg-3">
                                <div data-v-240c62e2="" data-mh1="group" class="d-flex ai-center our-awards__img" style="min-height: 150px;">
                                    <div data-v-240c62e2="">
                                        <img data-v-240c62e2="" src="/img/awwwards-dev.3206ad8f.svg" alt="">
                                    </div>
                                </div>
                                <p data-v-240c62e2="">The Awwwards Development Jury gave us highest marks for front-end.</p>
                            </div>
                            <div data-v-240c62e2="" class="tile-xs-12 tile-sm-6 tile-md-4 tile-lg-3">
                                <div data-v-240c62e2="" data-mh1="group" class="d-flex ai-center our-awards__img" style="min-height: 150px;">
                                    <div data-v-240c62e2="">
                                        <img data-v-240c62e2="" src="/img/awwwards-honor.68de608e.svg" alt="">
                                    </div>
                                </div>
                                <p data-v-240c62e2="">It looks like regular users enjoy what we've done, too.</p>
                            </div>
                            <div data-v-240c62e2="" class="tile-xs-12 tile-sm-6 tile-md-4 tile-lg-3">
                                <div data-v-240c62e2="" data-mh1="group" class="d-flex ai-center our-awards__img" style="min-height: 91px;">
                                    <div data-v-240c62e2="">
                                        <img data-v-240c62e2="" src="/img/creative-frontend.cb319190.svg" alt="">
                                    </div>
                                </div>
                                <p data-v-240c62e2="">No so well known, but they love us too and we’re happy with that.</p>
                            </div>
                            <div data-v-240c62e2="" class="tile-xs-12 tile-sm-6 tile-md-4 tile-lg-3">
                                <div data-v-240c62e2="" data-mh1="group" class="d-flex ai-center our-awards__img" style="min-height: 91px;">
                                    <div data-v-240c62e2="">
                                        <img data-v-240c62e2="" src="/img/codrops.5b17445d.svg" alt="">
                                    </div>
                                </div>
                                <p data-v-240c62e2="">Inspirational Website of the Week from Tympanus.</p>
                            </div>
                        </div>
                        <div data-v-240c62e2="" class="row row-1 hidden-sm-down">
                            <div data-v-240c62e2="" class="tile-xs-12 text-center">
                                <div data-v-240c62e2="" class="logo">
                                    <img data-v-240c62e2="" src="/img/logo.60e99242.svg" alt="">
                                </div>
                                <p data-v-240c62e2="" class="text-big">Ok, awards and mentions are great, but what about hard proof?
                                    <a data-v-240c62e2="" href="/customer-story"
                                        class="underline">
                                        Check out Arthur, on his experience
                                    </a> working with us.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <button data-v-240c62e2="" type="button" class="btn-step-secondary">
                    or, check our latest project
                </button>
            </div>
        </div>
    </div>
    <div id="inst-hb"></div>
    <script src="/js/custom.v4.js" type="63778b8c78d19ad13ebfd48e-"></script>
    <script async="" src="https://assets.calendly.com/assets/external/widget.js" type="63778b8c78d19ad13ebfd48e-"></script>
    <script src="/js/vendors~app.3e05d97e.js" type="63778b8c78d19ad13ebfd48e-"></script>
    <script src="/js/app.fb644a65.js" type="63778b8c78d19ad13ebfd48e-"></script>
    <script src="https://ajax.cloudflare.com/cdn-cgi/scripts/4f936b58/cloudflare-static/rocket-loader.min.js" data-cf-nonce="63778b8c78d19ad13ebfd48e-"
        defer=""></script>
</body>

</html>