
<div class="tools">

    <div class="container center">
        <h2>Que beneficios obtienes cuando trabajas con Galtec</h2>
        <p class="tools-subtitle">soluciones para todo tipo de negocio, centro educativo , institución pública o privada.</p>

        <ul id="toolsButtons" class="ahrefs__tools__nav">
            <li class="active" data-image="https://cdn.ahrefs.com/images/home/home-organic-search-report.jpg" id="site_explorer_img">
                <div class="tools-icon">
                    <div class="tools-icon__image">
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="-10 -7 70 70">
                            <defs>
                                <g id="competitive-analysis-icon" fill="#fff"><path d="M24 0C10.7 0 0 10.7 0 24c0 13.2 10.7 24 24 24s24-10.7 24-24C47.9 10.7 37.2 0 24 0zM46 23.5h-7l6-6C45.6 19.4 45.9 21.4 46 23.5zM44.3 15.4l-8.1 8.1h-5.7l11.7-11.7C43 12.9 43.7 14.1 44.3 15.4zM25 2c2.1 0.1 4.2 0.5 6.1 1.2L25 9.2V2zM25 12.1l8.1-8.1c1.3 0.6 2.5 1.3 3.6 2.1L25 17.7V12.1zM25 20.5L38.3 7.2c1 0.9 2 1.8 2.8 2.9L27.7 23.5h-2.7V20.5zM1.9 24c0-11.8 9.3-21.5 21-22v22.1L8.2 39.3C4.3 35.3 1.9 29.9 1.9 24zM24 46c-5.5 0-10.5-2-14.3-5.3l14.8-15.2h21.5C45.2 36.9 35.6 46 24 46z"></path><circle cx="24" cy="32" r="1.5"></circle><circle cx="24" cy="39.5" r="1.5"></circle><circle cx="31.5" cy="32" r="1.5"></circle><circle cx="31.5" cy="39.5" r="1.5"></circle><circle cx="39" cy="32" r="1.5"></circle><circle cx="16.5" cy="39.5" r="1.5"></circle></g>
                            </defs>
                            <use viewBox="-10 -7 70 70" xlink:href="#competitive-analysis-icon"></use>
                        </svg>
                    </div>
                    <p class="tools-icon__text">Análisis de Competencia</p>
                </div>
            </li>
            <li data-image="https://cdn.ahrefs.com/images/home/home-keyword-explorer.jpg?20180613-001" id="position_explorer_img">
                <div class="tools-icon">
                    <div class="tools-icon__image">
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="-10 -7 70 70">
                            <defs>
                                <g id="keyword-research-icon" fill="#fff"><path d="M12.5 31.1c-2.4 0-4.4 2-4.4 4.4 0 2.4 2 4.4 4.4 4.4s4.4-2 4.4-4.4C16.9 33.1 14.9 31.1 12.5 31.1zM12.5 38c-1.4 0-2.5-1.1-2.5-2.5 0-1.4 1.1-2.5 2.5-2.5 1.4 0 2.5 1.1 2.5 2.5C15 36.9 13.9 38 12.5 38zM39.7 0L20.4 19.3c-1.7-0.7-3.6-1.1-5.5-1.1C6.7 18.2 0 24.9 0 33.1c0 8.2 6.7 14.9 14.9 14.9S29.8 41.3 29.8 33.1c0-2.1-0.5-4.2-1.3-6l5.4-5.5v-2.5h3v-3h3v-3l2.5 0 5.5-5.7V0H39.7zM46 6.5l-4.4 4.5h-3.6v3h-3v3h-3v3.7l-5.8 5.9 0.4 1 0 0c0.1 0.2 0.1 0.3 0.2 0.5l0.1 0.2c0.6 1.5 0.9 3.1 0.9 4.7 0 7.1-5.8 12.9-12.9 12.9 -7.1 0-12.9-5.8-12.9-12.9 0-7.1 5.8-12.9 12.9-12.9 1.8 0 3.4 0.4 4.9 1l0 0 1.1 0.4 19.5-19.6h5.5V6.5z" fill="#FFF"></path></g>
                            </defs>
                            <use xlink:href="#keyword-research-icon"></use>
                        </svg>
                    </div>
                    <p class="tools-icon__text">Análisis de Palabras clave</p>
                </div>
            </li>
            <li data-image="https://cdn.ahrefs.com/images/home/home-backlink-data.jpg?20180613-001" id="content_explorer_img">
                <div class="tools-icon">
                    <div class="tools-icon__image">
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="-10 -7 70 70">
                            <defs>
                                <g id="backlink-research-icon" fill="#fff"><path d="M43.2 2.6C41.4 0.9 39.1 0 36.8 0c-2.3 0-4.6 0.9-6.3 2.6l-5.6 5.7c-3.1 3.2-3.4 8.1-0.9 11.6l-4.1 4.1c-1.6-1.1-3.4-1.7-5.3-1.7 -2.3 0-4.6 0.9-6.3 2.6l-5.6 5.7c-3.5 3.5-3.5 9.2 0 12.8 1.7 1.8 4 2.6 6.3 2.6s4.6-0.9 6.3-2.6l5.6-5.7c3.3-3.4 3.5-8.8 0.4-12.3l3.9-4c1.7 1.5 3.8 2.3 5.9 2.3 2.3 0 4.6-0.9 6.3-2.6l5.6-5.7C46.6 11.9 46.6 6.1 43.2 2.6zM21.5 31.3c0 1.9-0.7 3.6-2 5l-5.6 5.7c-1.3 1.3-3.1 2-4.9 2s-3.6-0.7-4.9-2S2 38.9 2 37s0.7-3.6 2-5l5.6-5.7c1.3-1.3 3.1-2 4.9-2 1.4 0 2.7 0.4 3.8 1.2l-5.6 5.7 1.4 1.4 5.7-5.8C21 28.1 21.5 29.6 21.5 31.3zM41.7 14l-5.6 5.7c-1.3 1.3-3.1 2-4.9 2 -1.7 0-3.3-0.6-4.5-1.7l5.8-5.9 -1.4-1.4 -5.7 5.8c-0.7-1.1-1.1-2.4-1.1-3.8 0-1.9 0.7-3.6 2-5l5.6-5.7c1.3-1.3 3.1-2 4.9-2 1.9 0 3.6 0.7 4.9 2 1.3 1.3 2 3.1 2 5C43.8 10.9 43.1 12.6 41.7 14z" fill="#FFF"></path></g>
                            </defs>
                            <use xlink:href="#backlink-research-icon"></use>
                        </svg>
                    </div>
                    <p class="tools-icon__text">Análisis de Enlaces</p>
                </div>
            </li>
            <li data-image="https://cdn.ahrefs.com/images/home/home-content-explorer.jpg?20180613-001" id="position_tracker_img">
                <div class="tools-icon">
                    <div class="tools-icon__image">
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 2 70 70">
                            <defs>
                                <g id="content-research-icon" fill="#fff"><path class="st0" d="M53 54H17V10h24.4L53 21.6V54zM19 52h32V22.4L40.6 12H19V52z"></path><rect x="24" y="30" class="st0" width="22" height="2"></rect><path class="st0" d="M35 26H24v-8h11V26zM26 24h7v-4h-7V24z"></path><rect x="24" y="36" class="st0" width="22" height="2"></rect><rect x="24" y="42" class="st0" width="22" height="2"></rect><polygon class="st0" points="52 23 40 23 40 11 42 11 42 21 52 21 "></polygon></g>
                            </defs>
                            <use xlink:href="#content-research-icon"></use>
                        </svg>
                    </div>
                    <p class="tools-icon__text">Análisis de Contenido</p>
                </div>
            </li>
            <li data-image="https://cdn.ahrefs.com/images/home/home-rank-tracker.jpg?20180613-001" id="crawl_report_img">
                <div class="tools-icon">
                    <div class="tools-icon__image">
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 70 70">
                            <defs>
                                <g id="rank-tracking-icon" fill="#fff"><path class="st0" d="M39.2 33.6l-7.3-4.9c-0.2 0.7-0.6 1.2-1.1 1.7l7.3 4.9C38.3 34.6 38.7 34 39.2 33.6z"></path><path class="st0" d="M26.6 29.8L15.7 46.1c0.7 0.2 1.2 0.6 1.7 1.1l10.9-16.3C27.6 30.7 27 30.3 26.6 29.8z"></path><path class="st0" d="M52.6 17.7L41.8 33.1c0.7 0.2 1.2 0.6 1.6 1.2l10.8-15.4C53.5 18.7 53 18.3 52.6 17.7z"></path><path class="st0" d="M55 20c-1.9 0-3.6-1.4-3.9-3.4 -0.2-1.1 0.1-2.1 0.7-3s1.6-1.4 2.6-1.6c2.2-0.3 4.2 1.2 4.6 3.3 0 0 0 0 0 0 0.2 1.1-0.1 2.1-0.7 3s-1.6 1.4-2.6 1.6C55.4 20 55.2 20 55 20zM55 14c-0.1 0-0.2 0-0.3 0 -0.5 0.1-1 0.4-1.3 0.8 -0.3 0.4-0.4 1-0.4 1.5 0.2 1.1 1.2 1.8 2.3 1.7 0.5-0.1 1-0.4 1.3-0.8 0.3-0.4 0.4-1 0.4-1.5l0 0C56.8 14.7 56 14 55 14z"></path><path class="st0" d="M41 40c-1.9 0-3.6-1.4-3.9-3.4 -0.2-1.1 0.1-2.1 0.7-3s1.6-1.4 2.6-1.6c2.2-0.3 4.2 1.2 4.6 3.3 0 0 0 0 0 0 0.2 1.1-0.1 2.1-0.7 3s-1.6 1.4-2.6 1.6C41.4 40 41.2 40 41 40zM41 34c-0.1 0-0.2 0-0.3 0 -0.5 0.1-1 0.4-1.3 0.8 -0.3 0.4-0.4 1-0.4 1.5 0.2 1.1 1.2 1.8 2.3 1.7 0.5-0.1 1-0.4 1.3-0.8 0.3-0.4 0.4-1 0.4-1.5C42.8 34.7 42 34 41 34z"></path><path class="st0" d="M29 32c-1.9 0-3.6-1.4-3.9-3.4 -0.2-1.1 0.1-2.1 0.7-3s1.6-1.4 2.6-1.6c2.2-0.3 4.2 1.2 4.6 3.3 0 0 0 0 0 0 0.2 1.1-0.1 2.1-0.7 3s-1.6 1.4-2.6 1.6C29.4 32 29.2 32 29 32zM29 26c-0.1 0-0.2 0-0.3 0 -0.5 0.1-1 0.4-1.3 0.8 -0.3 0.4-0.4 1-0.4 1.5 0.2 1.1 1.2 1.8 2.3 1.7 0.5-0.1 1-0.4 1.3-0.8 0.3-0.4 0.4-1 0.4-1.5l0 0C30.8 26.7 30 26 29 26z"></path><path class="st0" d="M15 53c-1.9 0-3.6-1.4-3.9-3.4 -0.2-1.1 0.1-2.1 0.7-3s1.6-1.4 2.6-1.6c2.2-0.3 4.2 1.2 4.6 3.3 0 0 0 0 0 0 0.2 1.1-0.1 2.1-0.7 3s-1.6 1.4-2.6 1.6C15.4 53 15.2 53 15 53zM15 47c-0.1 0-0.2 0-0.3 0 -0.5 0.1-1 0.4-1.3 0.8 -0.3 0.4-0.4 1-0.4 1.5 0.2 1.1 1.2 1.8 2.3 1.7 0.5-0.1 1-0.4 1.3-0.8 0.3-0.4 0.4-1 0.4-1.5C16.8 47.7 16 47 15 47z"></path></g>
                            </defs>
                            <use xlink:href="#rank-tracking-icon"></use>
                        </svg>
                    </div>
                    <p class="tools-icon__text">Rank Tracking</p>
                </div>
            </li>
            <li data-image="https://cdn.ahrefs.com/images/home/home-alerts.jpg?20180613-001" id="ahrefs_alerts_img">
                <div class="tools-icon">
                    <div class="tools-icon__image">
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="-1 2 70 70">
                            <defs>
                                <g id="web-monitoring-icon" fill="#fff"><path class="st0" d="M51 49H17c-0.6 0-1-0.4-1-1v-4c0-0.6 0.4-1 1-1 2.5 0 3.8-1.3 4-4.1L21 28c0-6.4 2.9-11 8.1-12.8 0.4-2.4 2.4-4.2 4.9-4.2 2.5 0 4.6 1.8 4.9 4.2C44.1 17 47 21.6 47 28v11c0.3 2.8 1.5 4 4 4 0.6 0 1 0.4 1 1v4C52 48.6 51.6 49 51 49zM18 47h32v-2.1c-2.9-0.4-4.7-2.4-5-5.9 0 0 0-0.1 0-0.1V28c0-5.8-2.6-9.7-7.3-11 -0.4-0.1-0.7-0.5-0.7-1 0 0 0 0 0 0 0-1.6-1.4-3-3-3 -1.7 0-3 1.3-3 3 0 0.5-0.3 0.9-0.7 1 -4.7 1.3-7.3 5.2-7.3 11v11c-0.3 3.5-2.1 5.6-5 5.9V47z"></path><path class="st1" d="M38 52c0 2.2-1.8 4-4 4s-4-1.8-4-4H38z"></path></g>
                            </defs>
                            <use xlink:href="#web-monitoring-icon"></use>
                        </svg>
                    </div>
                    <p class="tools-icon__text">Monitoreo Web</p>
                </div>
            </li>
        </ul>
    </div>
</div>