
  
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Galtec — apps, Paginas Web, interface diseño y consultoria, Diseño web Arequipa, paginas web Arequipa, Posicionamiento, diseño responsivo, aplicaciones </title>
    <meta name="description" content="Diseño escalable creación de soluciones. 
                Te asesoramos sobre qué es lo que realmente necesita tu negocio para llegar más fácilmente al cliente final. Descubrimos tus problemas y te ayudamos a crecer. 
                Desde un borrador hasta el lanzamiento final.">
    <meta name="author" content="Galtec Agencia">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-title" content="Galtec">
    <meta property="og:title" content="Galtec — apps, Paginas Web, interface diseño y consultoria">
    <meta property="og:site_name" content="Galtec Agencia">
    <meta property="og:description" content="Diseño escalable creación de soluciones.
                    Te asesoramos sobre qué es lo que realmente necesita tu negocio para llegar más fácilmente al cliente final.
                    Descubrimos tus problemas y te ayudamos a crecer. Desde un borrador hasta el lanzamiento del producto.">
    <meta property="og:image" content="/site.png">
    <!-- <meta name="twitter:card" content="summary"> -->
    <!-- <meta name="twitter:title" content="Heartbeat agency — apps, websites, interface design and consulting"> -->
    <!-- <meta name="twitter:description" content="Scalable design solutions. Finding your business real needs and  -->
                <!-- making your users happier. Discovering problems and helping you to grow.  -->
                <!-- From copy creation to launch."> -->
    <meta name="twitter:image" content="/site.png">
    <!--link rel="icon" type="image/png" href="/32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/16x16.png" sizes="16x16">
    <link rel="apple-touch-icon" href="/180x180.png" sizes="180x180"-->
  
    <link rel="apple-touch-icon" sizes="57x57" href="img/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="img/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="img/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="img/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="img/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="img/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="img/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="img/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="img/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="img/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="img/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="img/favicon/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
  

    <link rel="shortcut icon" href="images/favicon_1.png" type="image/png">
    <meta name="description" content="DISEÑO WEB AREQUIPA, paginas web arequipa, diseño responsivo, paginas web galtec, website arequipa, diseño web arequipa, pagina web, marketing digital,seleccion,mundial">
    <meta name="abstract" content="DISEÑO WEB AREQUIPA, paginas web arequipa, diseño responsivo, paginas web galtec, website arequipa, diseño web arequipa, pagina web, marketing digital,seleccion,mundial">
    <meta name="keywords" content="paginas web arequipa, diseño web arequipa, pagina web arequipa, webiste arequipa, marketing">
    <meta name="news_keywords" content="paginas web arequipa, diseño web arequipa, pagina web arequipa, webiste arequipa, marketing">
    <meta name="standout" content="paginas web arequipa, diseño web arequipa, pagina web arequipa, webiste arequipa, marketing">
    <meta name="generator" content="paginas web arequipa, diseño web arequipa, pagina web arequipa, webiste arequipa, marketing">
    <meta name="rights" content="Galtec, Galtec, arequipa">
    <meta name="geo.placename" content="arequipa">
    <meta name="geo.region" content="peru">
  
    <!-- <link rel="stylesheet" href="css/app.71444104.css"> -->
    <link rel="stylesheet" href="css/estilo.css">
    <link rel="stylesheet" href="css/borrar.css">
    <link rel="stylesheet" href="css/borrar2.css">
    
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/all.js" integrity="sha384-xymdQtn1n3lH2wcu0qhcdaOpQwyoarkgLVxC/wZ5q7h9gHtxICrpcaSUfygqZGOe" crossorigin="anonymous"></script>
  
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-45964486-2"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-45964486-2');
    </script>
